#btn1{
    background-color: rgb(214, 130, 20);
    color: black;
    height: 50px;
    width:50px;
}
#test{
    color:blueviolet;
}
#s1{
    color:cadetblue;
}
#s2{
    color:cadetblue;
}
#s3{
    color:brown;
}
#bt1{
    background-color: bisque;
}
#bt2{
    background-color: bisque;
}
#bt3{
    background-color: bisque;
}
#nw1{
    background-color: beige;
    color:black;
    text-decoration:underline;
    text-transform: uppercase;
    animation: alternate-reverse;
    transform-style: preserve-3d;
    
}

#div16 {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 100px;
    border: 10px solid blue;
    background-color: lightblue;
    
    
  }
  #but{
    height: 50px;
    width: 100px;
    margin-left: 120px;
    margin-top: 10px;



    
  }
  .color1{
    color: aquamarine;
  }